<footer>
  <div id="footer-inner">
  <ul class="nav">
    <li><%= link_to 'About', '', :class => 'sv-about-button' %></li>
    <li><%= link_to 'Developers', '', :class => 'sv-devs-button' %></li>
    <li><%= link_to 'Feedback', '', :class => 'sv-feedback-button' %></li>
    <li><%= link_to 'Privacy', '', :class => 'sv-privacy-button' %></li>
    <li><%= link_to 'Terms', '', :class => 'sv-terms-button' %></li>
  </ul>
  <div class="copyright">
    Yupp, LLC © 2013
  </div>
  </div>
</footer>
